body {
    /*background-image:url("C:/Users/jjp0009/Desktop/picture1.jpg"); */
    background-image: url('../Pictures/picture1.jpg')
    /*background: url('Pictures/picture1.jpg');*/
}

h1 {
    color: green;
    text-align: center;
    font-size: 90px;
}

.auto-style1 {
    width: 300px;
    /*width: 50%; */
    position: fixed;
    margin-left: -150px;
    margin-top: -150px;
    top: 50%;
    left: 50%;
}

.auto-style2 {
    text-align: right;
    width: 201px;
}

.auto-style3 {
    width: 201px;
}

.auto-style4 {
    width: 267px;
}
